
<div class="page-container">

    <div class="address">
        <h1>The amazing people of <span class="orange"><span class="city">{{city}}</span></span>!</h1>
    </div>

    <div class="message">
        <h3>THANK YOU VERY MUCH FOR SUPPORTING OUR CAUSE</h3>
    </div>


    <div class="signers-containers">
        <ul>
        {{#signers}}
        <li><a href="{{url}}">{{first}} {{last}}</a>, {{age}}.</li>
        {{/signers}}
        </ul>
    </div>

</div>